html, body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
}

.container, article img {
    background-color: white;
    width: 375px;
    margin: 0 auto;
}

header {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15.5px;
    border-bottom: 1px solid #c6c6c6;
}


header img {
    height: 100%;
}

header img#logo {
    width: 130px;
    height: 55px;
}

header img#user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}


article header {
    height: 55px;
    justify-content: flex-start;
}

article header h3 {
    font-size: 12px;
    font-weight: normal;
}

article header img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0;
    margin-left: -6.5px;
}

article main {
    height: 375px;
}

article main img {
    height: 375px;
}

article footer {
    height: 90px;
    border-bottom: 25px solid #ededed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

article footer img {
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0 0 0 10px;
}

article footer img:hover {
    opacity: 0.5;
}

article h2, article h3 {
    font-size: 13px;
    margin: 0;
    padding: 0 10px;
}

article footer span {
    font-weight: normal;
}



